<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/style.css">
    <title>Todo Go+htmx</title>
</head>
<body>
    <div class="container">
    <h1 class="title">Tasks</h1>
    <ul id="tasks" class="task-list">
        {{range .todos}}
        <li class="task-item">
            {{.Title}} - {{.Status}}
            <button hx-delete="/todos/{{.id}}" hx-target="closest li" hx-swap="outerHTML" class="delete-btn">Delete</button>
        </li>
        {{else}}
        <li class="no-tasks">No Task found.</li>
        {{end}}
    </ul>
    <form
        hx-post="/todos"
        hx-target="#tasks"
        hx-swap="beforeend"
        class="task-form">
        <input name="title" class="task-input" placeholder="Enter task title" required>
        <input name="status" class="task-input" placeholder="Enter task status" required>
        <button type="submit" class="submit-btn">Save</button>
    </form>
    </div>
</body>
</html>